NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL="Hornets Premium Suites <checkout@example.com>"
INTERNAL_CONFIRMATION_EMAIL=""
DATA_DIR="./data"
